* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --green: hsl(160deg, 100%, 30%);
  --black: black;
  --gray-4: hsl(0deg, 0%, 10%);
  --gray-3:hsl(0deg, 0%, 30%);
  --gray-2:hsl(0deg, 0%, 40%);
  --gray-1:hsl(0deg, 0%, 60%);
  --white:hsl(0deg, 0%, 100%);
  --gold-1: hsl(45deg, 100%, 50%);
  --gold-2: hsl(45deg, 100%, 40%);
}

/* Add styles here! */
main {
  border-top: 6px solid var(--gray-2);
  background: var(--gray-1);
  padding: 64px 0;
}

.max-width-wrapper {
  margin: 0 auto;
  max-width: 640px;
  padding: 0 24px;
  width: 100%;
}

p {
  line-height: 1.5;
}

p strong {
  color: var(--green);
}

.intro-chunk {
  padding-top: 64px;
  padding-bottom: 32px;
  max-width: 364px;
}

.intro-chunk p {
  font-size: 1.25rem;
}

.card {
  padding: 24px;
  padding-top: 8px;
  background: var(--white);
  border-bottom: var(--gray-2) solid 6px;
  margin: 0 -24px;
}

.indented-heading {
  font-size: 1.5rem;
  background: var(--gold-1);
  width: fit-content;
  padding: 16px 40px;
  margin: 0;
  margin-left: -40px;
  border-bottom: var(--gold-2) solid 6px;
}

.title {
  font-size: 2rem;
  margin-bottom: 40px;
}